<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Smash'em - do not show mercy.</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
    </style>
  </head>
  <body>
    <div id="smashemApp">
        <charactercard v-for="item in characterList" v-bind:character="item" :key="item.id" v-bind:onselectaction="handleselectaction">
        </charactercard>
    </div>
    <script>
      Vue.component('charactercard',{
        props: ['character','onselectaction'] ,
        template:
        '<div>'+
          '<div style="float: left"><div className="NameLabel" >{{character.name}}</div>'+
          '<img className="Avatar" :src="character.avatar" height="64" width="64"/></div>'+
          '<div style="float: left"><div>Actions</div>'+
          '<characteraction v-for="item in character.actionList" v-bind:action="item" v-bind:character="character" v-bind:onselectaction="onselectaction"></characteraction></div>'+
          '<div style="clear: left"></div>'+
        '</div>'
      })
      Vue.component('characteraction',{
          props: ['action','character','onselectaction'],
          methods: {
            selectAction: function(actionName,characterName) {
              console.log(characterName+" doing action "+actionName);
            }
          },
          template: '<div><div v-on:click="onselectaction(character,action)">{{action.name}}</div></div>'
      })

      var orcActionList = [{name: 'Greataxe'},{name: 'Javelin'}];
      var expexterActionList = [{name: 'Attack'}];
      var SmashemApp = new Vue({
        el: '#smashemApp',
        data: {
          characterList: [
            { id: 1,name: 'Orc-1', avatar: 'pic/tuntematon.png',actionList: orcActionList},
            { id: 2,name: 'Orc-2', avatar: 'pic/tuntematon.png',actionList: orcActionList},
            { id: 3,name: 'Expexter', avatar: 'pic/platewarrior.png',actionList: expexterActionList}
          ]
        },
        methods: {
          handleselectaction: function(character,action){
            console.log(character.name+" is going to use "+action.name);
            character.name = character.name+'+';
          }
        }
      })

    </script>
  </body>
</html>
