<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Smash'em - do not show mercy.</title>
    <script src="https://unpkg.com/vue"></script>
    <style>
    </style>
  </head>
  <body>
    <div id="smashemApp">
        <charactercard v-for="item in characterList" v-bind:character="item" :key="item.id">
        </charactercard>
    </div>
    <script>
      Vue.component('charactercard',{
        props: ['character'] ,
        template:
        '<div>'+
          '<div style="float: left"><div className="NameLabel" >{{character.name}}</div>'+
          '<img className="Avatar" :src="character.avatar" height="64" width="64"/></div>'+
          '<div style="float: left"><div>Actions</div>'+
          '<characteraction v-for="item in character.actionList" v-bind:action="item"></characteraction></div>'+
          '<div style="clear: left"></div>'+
        '</div>'
      })
      Vue.component('characteraction',{
          props: ['action'],
          template: '<div>{{action.name}}</div>'
      })
      var orcActionList = [{name: 'Greataxe'},{name: 'Javelin'}];
      var expexterActionList = [{name: 'Attack'}];
      var SmashemApp = new Vue({
        el: '#smashemApp',
        data: {
          characterList: [
            { id: 1,name: 'Orc-1', avatar: 'pic/tuntematon.png',actionList: orcActionList},
            { id: 2,name: 'Orc-2', avatar: 'pic/tuntematon.png',actionList: orcActionList},
            { id: 3,name: 'Expexter', avatar: 'pic/platewarrior.png',actionList: expexterActionList}
          ]
        }
      })

    </script>
  </body>
</html>
